body{
   font-family: "Kumbh Sans", sans-serif;
   min-width: 400px;
   background-color: #fffffffb
   
}

.article-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  right: 20px;
  top:5px;
  margin: auto;
 
 
  

}




.article-card{
 display: flex;
 min-width: 400px;
 flex-wrap: wrap;
 justify-content: left;
 background-color: azure;
 justify-content: center; 
 background-color:  rgba(189, 115, 41, 0.945);
  margin: 10px;
 border:solid transparent 10px;
 border-radius: 10px;
 padding:5px

}

.article-card:hover{
  border: solid rgb(217, 29, 255) 10px;
}
.article-box-1{
  display: block;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 360px;
  padding: 10px;
 
}
.article-card-vote-box{
  
  width: 200px;
  display: flex;
  margin: auto;
  justify-content: center;
}
.article-box-2{
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: black solid 2px;
  padding: 5px;
  text-align: center;
  background-color: #162836fb;
  color: antiquewhite;
  border-radius: 10px ;
  
}

.article-img{
  width: 320px; 
  margin: auto;
  
 
 
}

.article-title{
  width: 400px;

}
.article-up{
  max-height: 50px;
  margin: 10px;
 
}
.article-down{
  max-height: 50px;
  margin:10px
}
.article-delete{
  display: flex;
  max-height: 50px;
  margin: auto;
  justify-self: center;
}

.article-content{
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: antiquewhite;
  margin: auto;
  max-width: 1200px;
  padding: 50px;
}

.single-article-image{
  justify-self: center;
  max-width: 100%;
  height:auto

}

.article-header{
  justify-self:center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  max-width: fit-content;
  padding-bottom: -50px;
}

.article-info{
 justify-self: center;
 font-style: italic;
 font-size: 12px;
}

.article-text{
  max-width: 700px;
  text-align:justify;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
 
}

#main-logo{
  width: 300px;
  height: 120px;
}

#user-avatar{
  width: 80px;
  border: solid orange 3px;
  border-radius: 100%;
}
#user-info{
  display: block;
  justify-items: center;
  color: azure;
}

#user-bar{
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
  background-color: #162836fb;

  justify-self: center;
  

}

.comment{
  background-color: aquamarine;
  justify-content: center;
  margin: auto;
  width:1200px;
  border: solid black 2px;
  padding: 10px;
  margin-top: 20px;
  
 
}
.deleted-comment{
  background-color: aquamarine;
  justify-content: center;
  margin: auto;
  width:1200px;
  border: solid rgb(243, 19, 19) 5px;
  padding: 10px;
  margin-top: 20px;
  opacity: 20%;
  
 
}

.comment-buttons{
  margin: auto;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  width: 300px;
  padding: 10px;
  background-color: blanchedalmond;
}

#comment-list{
  display: flex;
  flex-wrap: wrap;
}

.article-vote-buttons{
  width: 300px;
  margin: auto;
  justify-content: space-around;
  display: flex;
  background-color: rgb(164, 201, 243);
  
}
.article-vote-err{
  margin: auto;
  font-style: italic;
  margin-bottom: 5px;
  color: #6d0303fb;
}
.article-list-vote-err{
  margin: auto;
  font-style: italic;
  margin-bottom: 5px;
  color: #6d0303fb;
  text-align: center;
}
.loading-message{
  text-align: center;
}

#comment-form{
  
  width: 500px;
  display:block;
  text-align: center;
  justify-content: center;
  margin: auto;
}
#comment-input{
  width: 400px;
  height: 100px;
  
}

#nav-bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px;
  margin-top: auto;
  margin: auto;
  background-color: rgba(189, 115, 41, 0.945);
  width: 500px;
  border: solid rgb(255, 195, 29) 3px;
  justify-items: center;
  border-radius: 10px;
  
  
  justify-self: center;
  align-self: center;
  
  
  
 
 
}

#nav-topic{
  color: beige;
  justify-items: center;
  text-align: center;
  width: 200px;
  margin: auto;
  
  
}
#nav-info{
  grid-column: 1;
  grid-row:2
}
#nav-sorter{
   grid-column: 3/3;
  grid-row: 1/2;
}