body{
   font-family: "Kumbh Sans", sans-serif;
   min-width: 400px;
}

.article-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}




.article-card{
 display: flex;
 min-width: 400px;
 flex-wrap: wrap;
 justify-content: left;
 background-color: azure;
 justify-content: center; 
 background-color: rgb(198, 232, 255);
 margin: 10px;
 border:solid transparent 5px
}

.article-card:hover{
  border: solid rgb(255, 65, 255) 5px;
}
.article-box-1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 360px;
  padding: 10px;
}
.article-box-2{
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article-img{
  width: 280px; 
 -ms-grid-row-span: 3;
 
}

.article-title{
  column-span: 3;

}
.article-up{
  max-height: 50px;
  margin: 10px;
  z-index: 1;
}
.article-down{
  max-height: 50px;
  margin:10px
}
.article-delete{
  max-height: 50px;
}

.article-content{
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: antiquewhite;
  margin: auto;
  max-width: 1200px;
  padding: 50px;
}

.single-article-image{
  justify-self: center;
  max-width: 100%;
  height:auto

}

.article-header{
  justify-self:center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  max-width: fit-content;
  padding-bottom: -50px;
}

.article-info{
 justify-self: center;
 font-style: italic;
 font-size: 12px;
}

.article-text{
  max-width: 700px;
  text-align:justify;
  justify-content: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
 
}

#main-logo{
  width: 300px;
  height: 120px;
}

#user-avatar{
  width: 80px;
  border: solid orange 3px;
  border-radius: 100%;
}
#user-info{
  display: block;
  justify-items: center;
  color: azure;
}

#user-bar{
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  margin: auto;
  background-color: #162836fb;
}

.comment{
  background-color: aquamarine;
  justify-content: center;
  margin: auto;
  width:1200px;
  border: solid black 2px;
  padding: 10px;
  margin-top: 20px;
  
 
}

.comment-buttons{
  margin: auto;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  width: 300px;
  padding: 10px;
  background-color: blanchedalmond;
}

#comment-list{
  display: flex;
  flex-wrap: wrap;
}